{% extends 'base.html' %}

{% block content %}
    

    <div class="row">
        <div class="col-md-4 mx-auto">
            <h1>Feed</h1>

            {% if g.user %}
            <div>
                <a href="/create"><button type="button" class="btn btn-primary mb-3">Add Post</button></a>
            </div>
            {% endif %}

            {% for row in posts %}

                <div class="card mb-3" style="width: 30rem;">
                    <b class="mb-2"><a href="/user/{{ row['users_id'] }}">@{{ row['username'] }}</a></b>
                    <a href="/post/{{ row['id'] }}">
                    <img src="/static/uploads/{{ row['image'] }}" class="card-img-top" alt="...">
                    </a>
                <div class="card-body">
                    <p class="card-text">{{ row['content'] }}</p>
                    <p>{% if g.user %}<a href="/like/{{ row['id'] }}">{% endif %}
                    {% if row['likes'] > 0 %}
                    <i class="fa-solid fa-heart"></i>
                    {% else %}
                    <i class="fa-regular fa-heart"></i> 
                    {% endif %}
                    {{ row['likes'] }}
                    {% if g.user %}</a>{% endif %}</p>
                    
                </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}